/* ********* */
/* @TYPOGRAPHY */
/* ********* */

$fontTitulo: 2rem;

.pagina__titulo{
    font-size: $fontTitulo;
    margin: 10px;
}

.pagina__titulo__desktop{
    font-size: $fontTitulo;
    margin: 10px; 
}
