/* ********* */
/* @VARIABLES */
/* ********* */

//Colores
$color_triangulo: #34495eb3;
$color_blanco: #f3f3f3;
$color_circulo_lleno: #f39c12;
$color_circulo_vacio: #333;

//Tamaños
$altura_slider: 500px;
$altura_triangulo: 500px;


