.imagenPerfil{
    display: none;
}

.apuntarsePartida{
    background-color: $color_fondo;
    height: 420px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.apuntarsePartida--Info{
    width: 80%;
    height: 40px;
    margin: 12px;
}

.perfil{
    background-color: $color_fondo;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width:1000px){

    .container__Form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        margin: 40px;
        background-color: $color_grisClaro;
    }
    .apuntarsePartida{
        width: 607px;
        height: 607px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .apuntarsePartida--Info{
        width: 65%;
    }
    
    .perfil{
        width: 607px;
        height: 607px;
    }

    .imagenPerfil{
        display: block;
    }
    .imagenPerfil{
        width: 400px;
        border-radius: 50%;
        object-fit: contain;
    }
    .separar{
        justify-content: space-around;
    }
    }