
.logIn{   
    background-color: $color_fondo;
}

.logIn--form{
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logIn--input, .logIn--button{
    width: 80%;
    height: 40px;
    margin: 20px;
    border-radius: 7px;
}

.logIn--button{
    color: $color_fondo;
    background-color: $color_azulOscuro;
}

a{
    color: $color_fondo;
    text-decoration: none;
}


.SignIn{   
    background-color: $color_fondo;
}

.SignIn--form{
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignIn--input, .SignIn--button{
    width: 80%;
    height: 40px;
    margin: 12px;
    border-radius: 7px;
}

.SignIn--button{
    color: $color_fondo;
    background-color: $color_azulOscuro;
}
.imagenFormulario, .imagenAñadirPartida{
    display: none;
}
.pagina__titulo__desktop{
    display: none;
}

.container__Form{
    text-align: center;
}

@media only screen and (min-width:1000px){
    .imagenFormulario, .imagenAñadirPartida{
        display: block;
    }

    .pagina__titulo__desktop{
        display: block;
    }

    .pagina__titulo{
        display: none;
    }

    .container__Form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        margin: 40px;
        background-color: $color_grisClaro;
    }
    .logIn{
        width: 607px;
        height: 607px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logIn--input, .logIn--button{
        width: 65%;
    }

    .SignIn--input, .SignIn--button{
        width: 65%;
    }
    }
