/* ********* */
/* @GRID*/
/* ********* */
.partidas{
    height: 125px;
    background-color: $color_fondo;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid black;
}
.partidas-juegos{
    grid-column: 2 / 2;
    grid-row: 1 / 3;
}

.partidas-jugadores{
    grid-column: 2 / 2;
    grid-row: 2 / 3;
}

.partidas-fecha{
    grid-column: 1 / 2;
    grid-row: 1 / 3;

}

.partidas-hora{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.partidas-ubicacion{
    grid-column: 2 / 2;
    grid-row: 3 / 3;

}
