/* ********* */
/* @HEADER */
/* ********* */

.navlist{
    height: 77px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color_grisClaro;
    //position: sticky;
    //position: absolute;
    position: fixed;
    bottom: 0;
}

.navlistSticky{
    height: 77px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color_grisClaro;
    position: sticky;
    bottom: 0;
}


.navButons{
    height: 70px;
    width: 70px;
    display: flex;
    background-color: $color_azulOscuro;
    border-radius: 7.78px;
    align-items: center;
    justify-content: center;
}

.navButons__span{
    display: none;
}

.logo{
    background-color: $color_azulOscuro;
    height: 66px;
    text-align: center;
    margin-bottom: 10px;
}

.logoAzul_Nav{
    display: none;
}

.imagenBanner {
    max-width: 100%;
    height: auto;
}

.textoBanner {
    margin: 7px;
}

.container{
    text-align: center;
    
}

#root{
    height: 100vh;
    background-color: $color_grisClaro;
}


@media only screen and (min-width:1000px){
    .navButons, .logo{
        display: none;
    }
    .navlistSticky, .navlist{
        position: fixed;
        top: 0;
        justify-content: space-around;
        height: 80px;
    }
    .navButons__span{
        display: block;
        color: black;
    }

    .container{
        padding-top: 80px;
        background-color: $color_fondo;

    }

    .logoAzul_Nav{
        display: block;
    }

    .textoBanner {
        margin: 20px;
    }

}