/* ********* */
/* @SIDEBAR */
/* ********* */

.inputDesplegable{
    display: none;
}

label{
    position: absolute;
    top: var(--margen_paddingGeneral);
    left: var(--margen_paddingGeneral);
    z-index: 5;
}

ul.desplegable{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: var(--color_verdeOscuro);
    list-style-type: none;
    padding: 23vh;
    font-family: var(--fuente_Base);
    font-size: var(--fuente_H3);
    color: var(--color_verdeClaro);
    
}

input:checked ~ .desplegable{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}